<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>公益活动管理系统</title>

    <!-- Bootstrap -->
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../bootstrap/js/jquery.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js">
    </script>
<!--script src="$bootstrap-table/tableExport.js"></script-->
  </head>
  <body>

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="page-header">
        <img alt="1024x300" src="../../static/img/banner.jpg" class="img-rounded img-responsive" />
        <h1>
          您好 <small>用户 {$user}</small>
        </h1>
      </div>
      <nav class="navbar navbar-default" role="navigation">   
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
               <a href="">公益活动</a>
            </li>
            <li>
               <a href="/index/training/indexv">培训</a>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" />
            </div> <button type="submit" class="btn btn-default">搜索</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="{:url('logOut')}">登出</a>
            </li>
          </ul>
        </div>
        
      </nav>

      <table class="table">
        <thead>
          <tr>
            <th>
              编号
            </th>
            <th>
              活动名称
            </th>
            <th>
              报名截止
            </th>
            <th>
              状态
            </th>
          </tr>
        </thead>
        <tbody>
          {volist name="activitys" id="activity" key="i"}
            <tr>
              <td>{$activity['A_Number1']}</td>
              <td>{$activity['A_Theme']}</td>
              <td>{$activity['A_Time']}</td>
              <td><?php if(($activity['C_Comment']) == '-1'): ?>进行中<?php else: ?>已截止<?php endif; ?></td>
              <td><button type="button" class="btn btn-default"><a href="{:url('/index/activity/showv/id/'.$activity['A_Number1'])}">查看</a></button>
              </td>
            </tr>
          {/volist}
        </tbody>
      </table>

      <ul class="pagination">
        <li>
           <a href="#">Prev</a>
        </li>
        <li>
           <a href="#">1</a>
        </li>
        <li>
           <a href="#">2</a>
        </li>
        <li>
           <a href="#">3</a>
        </li>
        <li>
           <a href="#">4</a>
        </li>
        <li>
           <a href="#">5</a>
        </li>
        <li>
           <a href="#">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
  </body>
</html>