<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>公益活动管理系统</title>

    <!-- Bootstrap -->
    <link href="../../../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="../../../../bootstrap/js/jquery.min.js"></script>
    <script src="../../../../bootstrap/js/bootstrap.min.js">
    </script>

  <div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <img alt="1024x300" src="../../../../static/img/banner.jpg" class="img-rounded img-responsive" />
      <h3>
        赞助培训活动
      </h3>
      <nav class="navbar navbar-default" role="navigation">   
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
               <a href="../../../../indexs.html">公益活动</a>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" />
            </div> <button type="submit" class="btn btn-default">搜索</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="{:url('logOut')}
               ">登出</a>
            </li>
          </ul>
        </div>
        
      </nav>
      <!--当有新活动发布时，管理员负责添加和发布活动信息，包括活动主题、活动目的、活动意义、活动参与对象、活动时间、活动地点、活动内容、活动的流程、活动的具体流程、财务预算、活动的可执行报告、应急措施等等。-->
      <!--主题图片待定-->
      <form role="form"  action="{:url('/index/activity/registers/id/'.$id)}" method="post">
        <div class="form-group">
           <label for="exampleInputTheme1">活动主题</label><p>{$theme}"</p>
        </div>
        <div class="form-group">
           <label for="exampleInputContent1">活动名称</label><p>{$namet}"</p>
        </div>
        <div class="form-group">
           <label for="exampleInputDestination1">活动目的</label><p>{$purpose}"</p>
        </div>
        <div class="form-group">
           <label for="exampleInputMeaning1">活动意义</label><p>{$meaning}"</p>
        </div>
        <div class="form-group">
           <label for="exampleInputTarget1">参与对象</label><p>{$object}"</p>
        </div>
        <div class="form-group">
           <label for="exampleInputDDL1">报名截止时间</label><p>{$ddl}"</p>
        </div>
        <div class="form-group">
           <label for="exampleInputTime1">活动时间</label><p>{$ddl}"</p>
        </div>
        <div class="form-group">
           <label for="exampleInputPosition1">活动地点</label><p>{$place}"</p>
        </div>
        <div class="form-group">
           <label for="exampleInputFlow1">具体流程</label><p>{$prepare}"</p>
        </div>
        <div class="form-group">
           <label for="exampleInputCompany1">主办单位</label><p>{$organizer}"</p>
        </div>
        <div class="form-group">
           <label for="exampleInputMoney1">经费预算</label><p>{$budget}"</p>
        </div>
        <div class="form-group">
           <label for="exampleInputAttention1">注意事项</label><p>{$warning}"</p>
        </div>
        <form role="form">
        <div class="form-group">
           <label for="exampleInputPosition1">联系电话</label><input type="text" class="form-control" name="telephone" />
        </div>
        <div class="form-group">
           <label for="exampleInputContent1">资助金额</label><input type="text" class="form-control" name="money"/>
        </div>
        <button type="submit" class="btn btn-default" >资助</button>
      </form>
      </form>
    </div>
  </div>
  </div>

  </body>
</html>