<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>公益活动管理系统</title>

    <!-- Bootstrap -->
    <link href="../../../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="../../../../bootstrap/js/jquery.min.js"></script>
    <script src="../../../../bootstrap/js/bootstrap.min.js">
    </script>

  <div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <img alt="1024x300" src="../../../../static/img/banner.jpg" class="img-rounded img-responsive" />
      <h3>
        编辑赞助商信息
      </h3>
      <nav class="navbar navbar-default" role="navigation">   
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
               <a href="../../../../activity.html">公益活动</a>
            </li>
            <li>
               <a href="../../../../training.html">培训管理</a>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">人员管理<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                   <a href="../../../../showVolunteer.html">志愿者管理</a>
                </li>
                <li>
                   <a href="../../../../showSponsor.html">赞助商管理</a>
                </li>
                <li>
                   <a href="../../../../showRecipient.html">受助者管理</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" />
            </div> <button type="submit" class="btn btn-default">搜索</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="{:url('logOut')}
               ">登出</a>
            </li>
          </ul>
        </div>
        
      </nav>
      <!--当有新活动发布时，管理员负责添加和发布活动信息，包括活动主题、活动目的、活动意义、活动参与对象、活动时间、活动地点、活动内容、活动的流程、活动的具体流程、财务预算、活动的可执行报告、应急措施等等。-->
      <!--主题图片待定-->
      <form role="form"  action="{:url('/index/sponsor/editNew/id/'.$id)}" method="post">
        <div class="form-group">
           <label for="exampleInputTheme1">单位名称</label><input type="text" class="form-control" id="S_Units" name="S_Units"/ value="{$S_Units}"/ ">
        </div>
        <div class="form-group">
           <label for="exampleInputContent1">登陆密码</label><input type="text" class="form-control" id="exampleInputContent1" name="S_Password" value="{$S_Password}" "/>
        </div>
        <div class="form-group">
           <label for="exampleInputDestination1">负责人</label><input type="text" class="form-control" id="exampleInputDestination1" name="S_Name" value="{$S_Name}"/>
        </div>
        <div class="form-group">
           <label for="exampleInputTarget1">地址</label><input type="text" class="form-control" id="exampleInputTarget1" name="S_Address" value="{$S_Address}" />
        </div>
        <div class="form-group">
           <label for="exampleInputDDL1">联系电话</label><input type="text" class="form-control" id="exampleInputDDl1" name="S_Telephone" value="{$S_Telephone}"/>
        </div>
        <div class="form-group">
           <label for="exampleInputTime1">电子邮箱</label><input type="email" class="form-control" id="exampleInputTime1" name="S_Email" value="{$S_Email}" />
        </div>
        <div class="form-group">
           <label for="exampleInputPosition1">邮政编码</label><input type="text" class="form-control" id="exampleInputPosition1" name="S_Code" value="{$S_Code}"/>
        </div>
        <div class="form-group">
           <label for="exampleInputFlow1">赞助活动</label><input type="text" class="form-control" id="exampleInputFlow1" name="A_Number" value="{$A_Number}"/>
        </div>
        <div class="form-group">
           <label for="exampleInputCompany1">赞助对象</label><input type="text" class="form-control" id="exampleInputCompany1" name="R_Number"  value="{$R_Number}" />
        </div>
        <div class="checkbox">
        </div> <button type="submit" class="btn btn-default">提交</button>
      </form>
    </div>
  </div>
  </div>

  </body>
</html>